body {
  background-color: #f5ce7c;
  font-family: "Playfair Display", serif;
  font-weight: normal;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  margin-bottom: 20px;
}

.navtags {
  margin-right: 10px;
  text-decoration: none;
  font-size: 7vw;
  color: #0fcde7;
}

.headings {
  color: #0fcde7;
  font-weight: lighter;
  font-size: 5em;
  margin: 0 0 20px 0;
}

.bottags {
  text-align: right;
  text-decoration: none;
  font-size: 1em;
  color: #0fcde7;
}

.project-link {
  font-size: 3em;
  color: #0fcde7;
  text-decoration: none;
  width: 300px;
}

.home-img {
  display: block;
  width: 90%;
  margin: 0px auto;
}

p {
  font-size: 30px;
  font-family: "Indie Flower", cursive;
  color: rgb(233, 255, 251);
  margin: 0px;
}

.mabo {
  color: #0fcde7 !important;
  font-family: "Playfair Display", serif !important;
  font-weight: normal !important;
}

.bio {
  margin-bottom: 40px;
}

.about {
  font-size: 25px;
  margin-bottom: 30px;
}

.bottomcontent {
  width: 100%;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 2rem;
  justify-content: left;
}

.card {
  margin-bottom: 2rem;
}

.portfolio-img {
  width: 300px;
}

.chalk-writing-description {
  font-size: 26px;
  width: 300px;
}

/* RESPONSIVE MEDIA QUERIES BELOW */

@media screen and (min-width: 360px) {
  .grid {
    justify-items: left;
  }
}

@media screen and (min-width: 480px) {
  .content {
    width: 75%;
    margin: 0px auto;
  }

  p {
    font-size: 35px;
  }

  .navtags {
    margin-right: 20px;
  }

  .home-img {
    width: 100%;
  }
}

@media screen and (min-width: 846px) {
  .navigation {
    margin: 0px 40px 20px;
  }

  .bottomcontent {
    display: inline-block;
    width: 50%;
    position: relative;
    bottom: 100px;
    margin-right: 30px;
  }

  .home-img {
    width: 265px;
    display: inline;
  }

  .about {
    font-size: 30px;
  }
}

@media screen and (min-width: 1196px) {
  p {
    font-size: 50px;
  }

  .navtags {
    margin-right: 40px;
  }

  .navigation {
    margin-bottom: 40px;
  }

  .bottomcontent {
    width: 60%;
  }

  .home-img {
    width: 320px;
  }

  .about {
    font-size: 38px;
  }

  .about-page {
    display: inline-block;
    width: 800px;
  }
}

@media screen and (min-width: 1364px) {
  .navigation {
    margin-bottom: 40px;
  }

  .bottomcontent {
    margin-bottom: 0px;
  }

  p {
    font-size: 65px;
  }

  .bottomcontent {
    width: 60%;
    bottom: 100px;
    margin-right: 0px;
  }

  .home-img {
    width: 400px;
  }

  .navtags {
    font-size: 92px;
  }
}
