body{
    background-color: #FFC886;
}
h1 {
    color:#0FCDE7;
    font-size: 8vw;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: normal;
    margin: 0px;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navigation a{
    color:#0FCDE7;
    font-size: 5vw;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}

.home-img{
    display: block;
    margin: 0 auto;
    width: 25vw;
}




.chalk-writing{
    width: 15vw;
    text-align: center;
    font-size: 3vw;
    font-family: 'Indie Flower', cursive;
    color: white;
}

#wall-writing-top{
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    justify-content: space-evenly;
    align-items: center;
}

#wall-writing-bottom{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.chalk-writing-bottom{
    width: 30vw;
    text-align: center;
    font-size: 2vw;
    font-family: 'Indie Flower', cursive;
    color: white;
}

#hey-text{
    position: relative;
    bottom: 9vw;
    left: 7vw;
    transform: rotate(-10deg);
}

#mabo-arrow{
    position: relative;
    bottom: 6vw;
    left: 14vw;
    width: 12vw;
    height: auto;
    transform: scaleX(-1) rotate(58deg);
}

#thats-me-text{
    position: relative;
    top: 2em;
    transform: rotate(25deg);
}

#thats-me-arrow{
    position: relative;
    right: 8vw;
    width: 15vw;
    height: auto;
    transform: rotate(180deg);
}